---
import { Code } from 'astro/components'
import Layout from '../layouts/Base.astro';

const CODE = `# Clone the repository
git clone https://github.com/TheOtterlord/manual
# Navigate to the directory
cd manual
# Install dependencies
npm install
# Start the dev server
npm run dev`
---

<Layout title="Manual">
	<main>
    <div class="max-w-6xl mx-auto dark:text-white md:py-32 md:flex">
      <div class="p-8 md:w-1/2">
        <h1 class="text-6xl font-bold my-4">Manual Digital</h1>
        <p class="text-2xl my-8">
          Bienvenido al <b class="text-slate-900 dark:text-blue-400">Manual Digital</b>, <b class="text-green-600 dark:text-green-400"></b> de la plataforma Virtual de Educación Continua.
        </p>
        <a href="/docs/get-started/introduction" class="inline-block bg-slate-900 hover:bg-slate-800 text-white text-lg font-bold py-2 px-4 rounded">
          Ver manual
        </a>
      </div>
      <div class="w-full p-8 md:w-1/2 [&_pre]:p-4 [&_pre]:rounded-2xl [&_pre]:shadow-xl [&_pre]:border-2 [&_pre]:border-green-500">
        <img src="./dnc.png">
      </div>
    </div>
    <div class="bg-slate-900 dark:bg-zinc-800">
      <div class="max-w-6xl mx-auto md:py-16 p-8 text-center">
        <h1 class="text-white text-6xl font-bold mb-16">Comenzar ahora</h1>
        <div class="md:flex md:justify-center space-y-8 md:space-y-0 md:gap-x-8 dark:text-white">
          <div>
            <div class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl">
              <h2 class="text-2xl font-bold">Manual Digital</h2>
              <p class="text-slate-800 dark:text-gray-400 my-4">
                Accede al Manual Digital de la universida tamaulipeca
              </p>
              <a href="/docs/get-started/introduction" class="inline-block bg-slate-900 hover:bg-slate-800 text-white text-lg font-bold py-2 px-4 rounded">
                Ver manual
              </a>
            </div>
          </div>
          <div>
            <div class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl">
              <h2 class="text-2xl font-bold">Sobre el Manual</h2>
              <p class="text-gray-600 dark:text-gray-400 my-4">
                Accede Sobre el Manual Digital
              </p>
              <a href="/docs/tutorials/build-x" class="inline-block bg-slate-900 hover:bg-slate-800 text-white text-lg font-bold py-2 px-4 rounded">
                Ver sobre el manual
              </a>
            </div>
          </div>
          <div>
            <div class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl">
              <h2 class="text-2xl font-bold">Video Onbording</h2>
              <p class="text-gray-600 dark:text-gray-400 my-4">
                Accede Sobre al video onbording
              </p>
              <a href="/docs/get-started/installation" class="inline-block bg-slate-900 hover:bg-slate-800 text-white text-lg font-bold py-2 px-4 rounded">
                Ver video
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
	</main>
</Layout>
